section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 0.75rem 1.5rem;
    font: var(--text-span);

    & a {
        justify-self: end;
        align-items: center;
        gap: 8px;

        & span {
            background-image: url(../assets/icons/ArrowRight.svg);
            width: 1rem;
            height: 1rem;
        }

        &:hover span {
            background-image: url(../assets/icons/ArrowRight-hover.svg);
        }
    }
}

#featured {
    grid-area: featured;

    & img {
        height: 100%;
        object-fit: cover;
    }

    /* Fazer um elemento com gradiente*/
    & .card {
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;

            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }

        & figcaption {
            position: absolute;
            bottom: 0;

            padding: 1.5rem;

            &:has(.text-lg) {
                padding: 0.75rem;
            }

            & h2 {
                margin-top: 0.5rem;
            }
        }
    }
}

#weekly {
    grid-area: weekly;
    /* primeiro nivel de div */
    & > div {
        grid-template-columns: repeat(4, 18.25rem);
    }

    & img {
        height: 10rem;
    }

    & figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
        }

        & p {
            margin-top: 0.5rem;
            font-weight: 800;
        }
    }
}

#ai {
    grid-area: ai;

    & img {
        width: 11rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    & h3 {
        margin-block: 0.5rem 0.25rem;
    }
}

aside {
    grid-area: aside;
}

#more {
    margin-top: 2rem;

    & h3 {
        margin-top: 0.5rem;
    }

    & img {
        width: 4.5rem;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media (width <= 22.562rem) {
    #featured,
    #weekly div {
        display: flex;
        flex-direction: column;
    }

    #weekly {
        & img {
            height: 100%;
        }

        & div figure > p {
            width: 20.5rem;
            display: block;
        }

    }

    #ai {
        & div article {
            display: flex;
            flex-direction: row-reverse;
        }

        & div img {
            min-width: 5rem;
            height: 5rem;
        }
    }
}
